<form action="/" method="post">

	<div>
		<input type="text" placeholder="ID" name="id" value="" required>
		<input type="text" placeholder="Nombre" name="name" value="" required>
		<button type="submit">Send &rarr;</button>
	</div>

	<div>
		<h3>Queue 1</h3>
		<% if (!clients[0].length) { %>
		<p>No clients in queue yet</p>
		<% } else { %>
		<% for (let i = 0; i < clients[0].length; i++) { %>
		<p><%= `${i+1}.- ID: ${clients[0][i].id}, Name:${clients[0][i].name}` %>
		</p>
		<% } %>
		<% } %>
	</div>

	<div>
		<h3>Queue 2</h3>
		<% if (!clients[1].length) { %>
		<p>No clients yet</p>
		<% } else { %>
		<% for (let i = 0; i < clients[1].length; i++) { %>
		<p><%= `${i+1}.- ID: ${clients[1][i].id}, Name:${clients[1][i].name}` %>
		</p>
		<% } %>
		<% } %>
	</div>


</form>