<form action="/" method="post" novalidate>

	<input type="text" placeholder="ID" name="id" value="" required>

	<input type="text" placeholder="Nombre" name="name" value="" required>

	<button type="submit">Enviar &rarr;</button>
</form>